@import "app";
@import "variables";
@import "font-awesome";

i {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
}

a, a:link, a:hover, a:visited, a:active {
	color: $sm-color-highlight;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

//custom-styles
body {
	background: #fff;
}

body, p, h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Arial, sans-serif;
	color: #27384C;
	@include single-transition;
}

body.details {
	h6 { font-weight: 600; }

	img {
		margin-bottom: rem-calc(40);
	}

	a.button.lined {
		background-color: transparent;
		border: 1px solid teal;
		border-radius: 2px;
		text-decoration: none;
		color: $sm-color-highlight;
		font-family: 'open sans';
		&:hover {
			background: $sm-color-highlight;
			color: white;
		}
	}
}

.jt-description {
	padding-top: rem-calc(20);
}

.job-description {
	color: #666;
	line-height: 1.8;
	a {
		background: #eee;
		padding: 0 1px;
	}
}

.project-name {
		margin-top: rem-calc(15);
		margin-bottom: rem-calc(0);
}

.project {
	margin-bottom: rem-calc(50);
	height: rem-calc(300);
}

.my-name {
	color: $sm-color-highlight;
}

header {
	padding: rem-calc(20 0);
	@media only screen and (min-width: 64.063em) {
	}
	.sm-nav {
		padding-top: rem-calc(16);
		padding-bottom: rem-calc(14);
	}
	.sm-info {
		padding-top: rem-calc(14);
		padding-bottom: rem-calc(14);
		.name-title {
			display: inline-block;
			.site-title {
				display: inline-block;
				&:hover {
					opacity: .7;
				}
			}
		}
	}

	.inline-list {
		text-align: center;
		border-top: 1px solid #BABABA;
		border-bottom: 1px solid #BABABA;
		padding-top: 30px;
		padding-bottom: 30px;
		@media only screen and (min-width: 40.063em) {
			text-align: right;
			border: none;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.inline-list > li {
		display: inline-block;
		float: none;
		&:first-child {
			margin-left: 0;
		}
		a {
			text-decoration: none;
			&.has-tip {
				border: none;
				&:hover {
					color: $sm-color-highlight;
				}
			}
		}
		i {
			font-size: rem-calc(24);
		}
	}
}

body.resume, body.details {
	.site-title {
		font-size: 24px;
		font-weight: 600;
	}
}

#view-resume {
	float: right;
}

.main {
	padding: rem-calc(15);
	@media only screen and (min-width: 64.063em) {
		padding: 0;
	}
	.company {
		margin-bottom: 0;
		font-weight: 600;
	}
	.year {
		margin-top: 0;
		font-weight: 300;
		color: $sm-text-color-lt;
	}
	.position {
		margin-bottom: 0;
		color: $sm-color-highlight;
		font-weight: 400;
	}
	.jobs {
		border-left-width: 0px;
		@media only screen and (min-width: 64.063em) {
			border-left: 2px solid darken(#fff, 12);
		}
		&.inner {
			padding-top: 0;
			@media only screen and (min-width: 64.063em) {
				padding-top: rem-calc(40);
			}
		}
	}
	.inner {
		padding-top: rem-calc(40);
		&.last {
			padding-bottom: rem-calc(70);
		}
	}
	.section-title {
		color: $sm-color-highlight;
		display: inline-block;
		width: 100%;
		border-bottom: 1px dotted $sm-color-highlight;
		@media only screen and (min-width: 64.063em) {
			width: auto;
		}
	}
}

.row.spaced {
	@media only screen and (min-width: 40.063em) {
		margin-bottom: rem-calc(50);
	}
}

.main.portfolio {
	padding: rem-calc(30 0);
	p {
		font-size: rem-calc(14);
		color: $sm-text-color-lt;
	}
	.sm-thumbs {
		margin: rem-calc(0 23 0 0);
		padding: 0;
		list-style: none;
		display: inline-block;
		height: rem-calc(217);
		width: 100%;
		background: #fff;
		text-indent: -9999px;
		transition: all .3s ease;
		// &:hover {
	  //   opacity: .8;
		// }
		&.pt-tippy {
			background: transparent url('../images/pt-tippy.png') no-repeat 0 0;
			background-size: 100%;
		}
		&.pt-story-activity {
			background: transparent url('../images/pt-story-activity.png') no-repeat center top;
			background-size: 100%;
		}
		&.pt-dashboard {
			background: transparent url('../images/pt-dashboard-thumb.png') no-repeat center top;
			background-size: 100%;
		}
		&.kp-flatirons {
			background: transparent url('../images/kp-flatirons.png') no-repeat center bottom;
			background-size: 100%;
		}
		&.kp-styleguide {
			background: transparent url('../images/kp-styleguide.png') no-repeat left top;
			background-size: 350%;
		}
		&.kp-icons-more {
			background: transparent url('../images/kp-icons-more.png') no-repeat center 45%;
			background-size: 200%;
		}
		&.kp-icons {
			background: transparent url('../images/kp-icons.png') no-repeat center 45%;
			background-size: 200%;
		}
		&.kp-notifications {
			background: transparent url('../images/kp-notifications.png') no-repeat center top;
			background-size: 100%;
		}
		&.kp-gallery {
			background: transparent url('../images/kp-gallery.png') no-repeat left top;
			background-size: 150%;
		}
		&.kp-campaign {
			background: transparent url('../images/kp-campaign.png') no-repeat left top;
			background-size: 100%;
		}
		&.my-gradebooks {
			background: transparent url('../images/my-gradebooks.png') no-repeat left top;
			background-size: 150%;
		}
		&.bb-learner {
			background: transparent url('../images/bb-learner-th.png') no-repeat left center;
			background-size: 250%;
		}
		&.bb-help {
			background: transparent url('../images/bb-help.png') no-repeat left top;
			background-size: 150%;
		}
		&.manage-account {
			background: transparent url('../images/manage-account.png') no-repeat left top;
			background-size: 150%;
		}
		&.bb-brand {
			background: transparent url('../images/bb-brand.png') no-repeat left top;
			background-size: 300%;
		}
		&.bb-ultra {
			background: transparent url('../images/bb-ultra.png') no-repeat left top;
			background-size: 150%;
		}
	}
}

section.footer {
	background: #fff;
	padding-top: rem-calc(15);
	padding-bottom: rem-calc(15);
	font-size: rem-calc(14);
}

.subheader {
	color: #333;
	font-size: rem-calc(19);
	margin-bottom: rem-calc(16);
}
