<!doctype html>
<html class="no-js" ng-app="work" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sara Hill - Product Design</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body>
    <section class="sm-top">
      <!-- begin header -->
      <header class="row">
        <div class="medium-7 columns sm-info">
          <div class="name-title">
            <a href="index.html"><h1 class="site-title"><span class="my-name">Sara McWhorter Hill</span></br>Product Design &amp; Illustration</h1></a>
          </div>
        </div>
        <div class="medium-5 columns sm-nav">
          <ul class="inline-list">
            <li><a href="resume.html" title="Resume"><i class="fa fa-file-o"></i></a></li>
            <li><a href="https://dribbble.com/sarahill" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="https://www.linkedin.com/in/saramcwhorter/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.facebook.com/sara.hill.22/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="large-12 columns jt-description">
          <div class="row">
            <div class="large-11 columns">
              <p class="job-description">Currently designing the future at <a href="http://www.pivotaltracker.com/" traget="_blank" title="Pivotal Tracker">Pivotal Tracker</a> in Denver as Product Designer.</p>
              <p class="job-description">I have a strong passion for UI and UX design, exploring new ideas, new technologies, and innovation. When I'm not creating online software you can find me outside enjoying the beauty of Colorado, tackling a trail run, or enjoying a local brew.
                On weekends I go for a carefree frolic in the park while humming popular hits from the 80s, 90s, and today.</p>
              <p class="job-description">Want to reach out? <a href="mailto:sarashill22@gmail.com" target="_top">Contact me</a>. I would love to hear from you!</p>
            </div>
          </div>
        </div>
      </header>
      <!-- *end header -->
    </section>

    <section class="main portfolio" ng-controller="WorkController as work">
      <div class="row">
        <div class="large-12 columns">
          <h2 class="subheader description">Recent Work</h2>
        </div>
      </div>
      <div class="row spaced">
        <div class="medium-6 columns project" ng-repeat="project in work.projects">
          <div class="sm-thumbs {{project.class}}" title="{{project.name}}">{{project.name}}</div>
          <h5 class="project-name">{{project.name}}</h5>
          <p>{{project.description}}</p>
        </div>
      </div>
    </section>
    <section class="footer">
      <footer class="row">
        <div class="large-12 columns">
          &copy;
          <script type="text/javascript">
          	var currentYear = (new Date).getFullYear();
            document.write(currentYear);
          </script>
           Sara Hill. All work created by Sara Hill unless otherwise stated.
        </div>
      </footer>
    </section>

    <script src="bower_components/modernizr/modernizr.js"></script>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
